<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CyberNova Honeypot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to the CyberNova!</h1>
    </header>
    <main>
        <p>This web page is about our project made for the 2025's edition of the Open Your Mind Hackathon.</p>
        <p>This project was made by the team TripleA&M.</p>
        <form class="login-form" method="post">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Parolă:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Autentificare</button>
        </form>
    </main>
    <footer>
        <p>&copy; 2025 CyberNova. All rights reserved.</p>
    </footer>
</body>
</html>

<!--<p>This application is designed to capture and analyze malicious traffic.</p> 
        <p>We utilize GeoIP data and scoring mechanisms to assess potential threats.</p>  
-->